
        <footer style="background-color: black;color: white; text-align: center;">
            <strong><em><span >L</span>and<span >S</span>tar<span >H</span>otels<em></strong>, Copyright &copy; Sehgal@Khan 2019
        </footer>
    </body>
</html>